#Text{
    background-color: rgb(2, 255, 255);
    color: rgb(22, 22, 22);
}

#List{
    background-color: rgb(191, 93, 202);
    color: rgb(0, 88, 88);
}

#Table{
    background-color: rgb(0, 255, 149);
    color: rgb(56, 67, 81);
}

#Img{
    background-color: rgb(251, 255, 0);
    color: rgb(4, 20, 244);
}

.text{
    background-color: rgb(255, 144, 0);
    width: 140px;
    font-family: 'Ephesis', cursive;
}

.list{
    background-color: beige;
    width: 140px;
    font-family: 'Ephesis', cursive;
}

.table{
    background-color: blanchedalmond;
    width: 140px;
    font-family: 'Ephesis', cursive;
}

.img{
    background-color: aquamarine;
    width: 140px;
    font-family: 'Ephesis', cursive;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ephesis&family=Saira+Extra+Condensed:wght@100&display=swap');

  h1, h2, h3{
    font-family: 'Bebas Neue', sans-serif;
  }
 