#Text{
    background-color: rgb(2, 255, 255);
    color: rgb(82, 107, 107);
    text-decoration: none;
    display: block;
    width: 230px;
    text-align: center;
    border: 2px dotted #160b3f;
    margin-bottom: 2px;
    font-size: 130%;
}

#List{
    background-color: blueviolet;
    color: rgb(231, 253, 253);
}

#Table{
    background-color: azure;
    color: rgb(30, 105, 151);
}

#Img{
    background-color: bisque;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ephesis&family=Saira+Extra+Condensed:wght@100&display=swap');
